@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton Film Collection</h1>

    <div>
        <img src="~/img/JoelHiltonHeadshot.jpg" />
    </div>

</div>


<div>
    <a asp-controller="Home" asp-action="Movies">Add a movie </a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie list </a>
</div>